<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Home Page {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    
    {% block content %}
    <a href='{% url 'news' %}'>News Page</a>
    {% endblock %}
	<script src="{% static 'script.js' %}"></script>
  </body>
</html>